@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


// ====== Mixin ======
@mixin open-sans {
  font-family: 'Open Sans', sans-serif;
}

@mixin russo-one {
  font-family: 'Russo One', sans-serif;
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
} 

// ====== /Mixin ======



// ====== Variables ======

$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

$yellow: #ffc90a;
$blue: #3562ff;
$black: #2e2d2d;
$white: #fcfcfc;

$breakpoint-xs-min: 0;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;



// ====== /Variables ======



.section-inner {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  // grid-template-rows: 100px;
  // margin-top: 60px;
}

h2 {
  margin: 0;
  padding: 0;
  @include russo-one;
  font-weight: $fw-regular;
  font-size: 110px;
}

h3 {
  margin: 0;
  padding: 0;
  @include russo-one;
  font-weight: $fw-regular;
  font-size: 30px;
}

p {
  margin: 0;
  padding: 0;
  @include montserrat;
  font-weight: $fw-regular;
  font-size: 16px;
}

.btn {
  width: 486px;
  height: 81px;
  @include open-sans;
  font-weight: $fw-regular;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background-color: $yellow;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}


// ====== Header =======
.section-nav {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 100px;

  @media (max-width: $breakpoint-xl-max) {
    max-width: 1240px;
  }

  @media (max-width: $breakpoint-lg-max) {
    max-width: 1040px;
  }
}


.logo {
  grid-column: 1/2;
  align-self: center;
}

.nav {
  grid-column: 9/14;
  align-self: center;

  // @media (max-width: $breakpoint-xl-max) {
  //   grid-column: 4/14;
  // }

  @media (max-width: $breakpoint-lg-max) {
    grid-column: 5/14;
  }

  @media (max-width: $breakpoint-lg-min) {
    grid-column: 13/14;
  }
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: none; 
  position: absolute;
  top: 50px;
  right: 20px;
  width: 70px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  

  @media (max-width: $breakpoint-lg-min) {
    display: block;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -20px;
}
.menu__btn > span::after {
  content: '';
  top: 20px;
}



#menu__toggle:checked ~ .menu__btn > span {
  width: 30px;
  transform: rotate(45deg);
  bottom: 45px;
  right: 10px;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  width: 30px;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 30px;

}
#menu__toggle:checked ~ .nav-wrapper {
  display: flex;
}

.nav-wrapper {
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  @include open-sans;
  font-weight: $fw-regular;
  font-size: 18px;

  &__item{
    padding: 40px 20px;

    &--active{
      background-color: $yellow;
      color: $white;
      cursor: default;
    }

    &:nth-child(2){
      min-width: 49px;
    }
    &:hover{
      background-color: #F2DF9D;
    }

    &-link {
      color: $black;
      text-decoration: none;
    }
  }

  @media (max-width: $breakpoint-lg-min) {
    display: none;
    flex-direction: column;
    height: 390px;
    width: 226px;
    top: -19px;
    position: absolute;
    right: 0px;
    background-color: $yellow;

    &__item {
      padding: 0;

      &:first-child {
        padding-top: 76px;
      }
     
      &--active{
        color: white;
        cursor: default;
      }

      &:hover{
        background-color: $yellow;
      }
    }
  }
}

// ====== /Header =======


// ====== HomeContent =======

.section-content {
  // display: grid;
  // grid-template-columns: repeat(13, 1fr);
  // grid-template-rows: 100px;
  margin-top: 60px;
}

.right-content {
  grid-column: 1/7;
}

.left-content {
  grid-column: 8/14;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(3,1fr);
}

.video-title {
  grid-column: 1/7;
  grid-row: 1/3;
  
}

.video-text {
  grid-column: 4/7;
  grid-row: 2/3;
  margin-top: 25px;
  margin-left: 50px;
}

.btn {
  grid-column: 1/7;
}

.btn-main-left {
  background-color: $blue;
  color: $white;
}

// ====== /HomeContent =======


// ==== SectionAbout ========

.section-about {
  margin-top: 60px;
}

.about-photo {
 grid-column: 1/7;
}

.about-royal {
  grid-column: 8/12;
  &__title {
    @include russo-one;
    font-size: 78px;
    font-weight: $fw-regular;
  }

  &__text {
    @include montserrat;
    font-size: 16px;
    font-weight: $fw-regular;
    line-height: 28px;
    margin-top: 40px;
  }
}

// ===== /SectionAbout ===== 

// ===== SectionWork ======

.section-work{
  margin-top: 96px;

  &__title{
    grid-column: 1/12;
  }

}

.work-list { 
  &__item {
    display: flex;
    height: 274px;
    background-color: rgba(189,189,189,0.2);
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgba(189,189,189,0);
    }

    &--text {
      margin-left: 40px;
    }
  }
  &__title {
    @include russo-one;
    font-size: 30px;
    font-weight: $fw-regular;
    color: #2E2D2D;
  }
}

.odd {
  grid-column: 1/7;
  margin-top: 140px;
}

.even {
 grid-column: 8/14;
 margin-top: 210px;
}
// ===== /SectionWork ======

// ===== SectionFirstSlider ======

.section-firstslider {
  margin-top: 200px;
}

// ===== /SectionFirstSlider ======


// ====== AboutSliderGal =====

.slider-container {
  overflow: hidden;
  min-width: 1830px;
  grid-row: 2;
}


// ====== /AboutSliderGal =====

// ====== ReviewsSlider =====

.section-secondslider {
  margin-top: 222px;
}

.slider-reviews {
  grid-row: 2;
  max-width: 1760px;
  display: flex !important;
  align-items: center;
  margin-top: 100px;
}

.slider-item2 {
  display: flex !important;
  // margin-left: 177px;
  // overflow: hidden;
  // margin:0 auto;
}

.slider-img2 {
  height: 100%;
  // width: 100%;
  margin:0 auto;
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 674px;
  justify-content: center;
}


// ====== /ReviewsSlider =====

// ====== Portfolio ========

.section-bg {
  background:url("/img/portfolioBG.png") no-repeat;
  height: 1000px;
  margin-top: 61px;
  position: relative;
}

.bg-title {
  font-size: 270px;
  color: #fcfcfc;
}

.bg-btn {
  position: absolute;
  bottom: 102px;
  right: 82px;
}

.section-portfolio {
  margin-top: 85px;
}

.portfolio-text {
  grid-column: 1/6;
  &__text{
    margin-top: 33px;
  }
}

.portfolio-btn {
  margin-top: 500px;
}

.portfolio-video {
  grid-column: 7/14;
  height: 1664px;
  width: 1015px;
  overflow-x:hidden;
  overflow-y: scroll
}

.portfolio-item {
  &__text {
    text-align: end;
  }
  &__video {
    width: 1015px;
    height: 589px;
  }
  &+&{
    margin-top: 50px;
  }

}

// ====== /Portfolio ========

// ===== Services =========

.section-services {
  margin-top: 80px;
  &__item {
    &:nth-child(odd){
      .section-services__item-video{
        grid-column: 1/7 
      }
      .services-info{
        grid-column: 8/14;
      }
    }

    &:nth-child(even) {
      .section-services__item-video {
        grid-column: 8/14 
      }
      .services-info{
        grid-column: 1/7;
        grid-row: 1;
      }
      .section-services__item-text-btn  {
        background-color: $blue;
      }
    }

    &+& {
      margin-top: 109px;
    }
  }
}

// ===== /Services =========

// ====== Contact ========

.contact {
  &-title {
    grid-row: 1;
    grid-column: 1/10;
  }
  &-form{
    grid-row: 2;
    grid-column: 1/8;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    input{
      width: 428px;
      height: 80px;
      @include open-sans;
      font-weight: $fw-regular;
      font-size: 24px;
      color: $black;
      border: 1px solid black;
      border-radius: 2%;
    }
    &__telephone{
      margin-top: 40px;
    }
    &__btn {
      width: 331px;
      height: 90px;
      background-color: $yellow;
      color: $black;
      font-size: 20px;
      border: 0px;
      margin-left: 170px;
    }
    .form-down {
      margin-top: 90px;
    }
  }
  &-social{
    grid-row: 3;
    grid-column: 1/12;
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
  }
}

.social__item {
  display: flex;
  align-items: center;
  &--text {
    @include montserrat;
    font-weight: $fw-bold;
    font-size: 24px;
  }
}



// ====== /Contact ========